/* DEFAULT */
html,
body,
section,
div,
h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}
ul {
    list-style-type: none;
}
/* ////////////////////////////////////////////////// */
body {
    background: #ffffff;
}
#id {
    display: grid;
    grid-gap: 3rem;
}
/* //////////////////THIS IS FOR HAMBURGER */
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hero{
    background: url('../images/Background.svg');
    background-repeat: no-repeat;
    background-size: 312%;
    background-position-x: 12%;
    background-position-y: 78%;
    color: #ffffff;
}

.hero,
.text-medium-bold-light,
.text-medium-bold-dark,
.text-small,
.text-small-bold,
#section-d {
    font-family: 'Montserrat', sans-serif;
}
.headerImg{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding-bottom: 4.5rem;
    text-align: center;
    /* width: 70%; */
}

#ham{
    /* width: 7%; */
    padding-top: .5em;
    color: #ffffff;
}

.responsiveNav{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5em;
}

#navs{
    display: none;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.5em;
    font-size: small;
}

#navs li {
    padding: .5em 0;
}

.hero h1 {
    font-weight: 200;
    font-size: 1.6rem;
}

.w-85 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.text-small {
    font-size: .8rem;
    letter-spacing: .07rem;
    font-weight: lighter;
    line-height: 1.3rem;
}

.mirror {
    text-align: left;
    
}
.mirror img {
    margin-top: 2.2em;
    width: 50%;
}

#section-a {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 3em;
}

hr {
    /* height: 1px; */
    background: #0000001A;
}
.card img {
    width: 10%;
}

.expect {
    background: #FFFFFF;
    box-shadow: 0px 10px 35px #00000014;
    padding: 1em 0;
    margin-bottom: 1em;
}

.expect:last-child{
    margin-bottom: 3em;
}

.light-gray{
    background: #F5F8FA;
    padding: 1em 0;
    margin: 2em 0;
}
/* .footerHead img {
    width: 50%;
} */
.text-medium-bold-light {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1.6px;
    color: #97A3B4;
}

.text-medium-bold-dark {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.14px;
    color: #333333;
}

.text-small-bold {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.34px;
    color: #333333;
}

.text-small {
font-size: .8rem;
letter-spacing: 0;
}

.text-gray {
    color: #676F79;
}

.blueBg {
    height: 22.8rem;
    background: transparent linear-gradient(322deg, #4A86FF 0%, #1EC3FF 100%) 0% 0% no-repeat padding-box;
}

#section-d {
    color: #ffffff;
}

#section-d {
    background: #001538;
}

footer {
    font-size:.8rem;
}
.footerHead {
    display: flex;
}

.footerNav img {
    width: 50%;
}

.footerNav ul li {
    padding: .5em;
}

footer p:first-child {
    display: flex;
    justify-content: space-between;
}

.footerHead p {
    font-size: 1rem;
}

@media (max-width: 640px) {
    .header2 img,
    .desktop,
    .blueBgTxt{
        display: none;
    }

    .headerImg img{
         width: 30%;
    }
}

@media (min-width: 640px) {
    .hero {
        background-size:124%;
        background-position-x: 30%;
        background-position-y: 73%;
    }

    .phone {
        display: none;
    }

    #navs {
        display: block;
        border: none;
    }
    #navs ul {
        display: flex;
        /* justify-content: space-around; */
        /* background-color: none; */
    }
    #navs ul>li {
        padding: 0 1em;
    }
    .navbar {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .headerImg img {
        width: 35%;
        padding-right: 1em;
        /* justify-content: space-between; */
    }

    .headerImg {
        justify-content: flex-start;
    }

    .header {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .header1 {
        width: 50%;
        padding-bottom: 1.5em;
        padding-top: 2em;
    }
    .header2 img {
        width: 40%;
        position: absolute;
        right: 6%;
        top: 2.5em;
        /* margin-bottom: -1em; */
        /* left: 80%; */
    }

    #section-a {
        margin-top: 4em;
    }

    .mirror {
        display: flex;
        /* border: 1px solid blue; */
        align-items: center;
    }
    .flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        grid-gap: 1em;
    }
    .card,
    .expect {
        /* width: 30%; */
        text-align: left;
    }
.expect:last-child {
    margin-bottom: 1em;
}

.expect{
    padding: 1em;
}
    .exp {
        width: 90%;
        margin: 0 auto;
    }

    .blueBg {
        height: auto;
    }

    .blueBgTxt {
        /* margin-right: -11em; */
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em 0;
    }
    .blueImg img {
        width: 20%;
    }
    .blueImg img:first-child {
       
        padding-right: .3em;
    }
    .footerNav {
        display : grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
    }

    .footerNav ul {
        display: flex;
    }

    hr {
        margin-top: 2em !important;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto;
    }

    .footerLinks {
        order: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #section-c {
        background: #F5F8FA;
        padding-bottom: 3em;
    }

}

@media (min-width: 960px) {
    .hero {
        background-size: 111%;
        background-position-x: 51%;
        background-position-y: 72%;
    }

    .text-small {
        font-size: 0.9rem;
    }

    .hero h1 {
        font-size: 1.8rem;
        padding-bottom: .8em;
        padding-top: 2em;
    }

    .hero p {
        padding-bottom: .8em;
    }

    .header {
        width: 80%;
        margin: 0 auto;
    }

    .headerImg {
        padding-bottom: 10em;
    }
    .navbar {
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .header2 img {
        width: 35%;
        position: absolute;
        right: 10%;
        top: 1.9em;
    }

}

@media (min-width: 1240px) {
    .header2 img {
        width: 30%;
    }

    #section-a {
        padding-top: 2em;
    }

    .mirror img {
        width: 40%;
    }
}

