/* DEFAULT */
html,
body,
section,
div,
h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}
ul {
    list-style-type: none;
}
/* ////////////////////////////////////////////////// */
body {
    background: #ffffff;
}
#id {
    display: grid;
    grid-gap: 3rem;
}
/* //////////////////THIS IS FOR HAMBURGER */
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 10px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hero{
    background: url('../images/Background.svg');
    background-repeat: no-repeat;
    background-size: 220%;
    background-position-x: -19vmin;
    background-position-y: -25vmin;
    /* min-width: 100%; */
    color: #ffffff;
    /* background-position-x: 17%; */
    /* background-position-y: 55%; */
    /* border: 1px solid black; */
}

.hero,
.text-medium-bold-light,
.text-medium-bold-dark,
.text-small,
.text-small-bold,
#section-d {
    font-family: 'Montserrat', sans-serif;
}
.headerImg{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    padding-bottom: 4.5rem;
}
.headerImg img {
    width: 30%;
}

#ham{
    /* width: 7%; */
    padding-top: .5em;
    color: #ffffff;
}

.responsiveNav{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5em;
}

#navs{
    display: none;
    /* position: absolute; */
    text-align: center;
    background-color: #2EACFF;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.5em;
}

#navs li {
    padding: .5em 0;
}
.hero h1 {
    font-weight: 200;
    font-size: 1.6rem;
}


.w-85 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.text-small {
    font-size: .8rem;
    letter-spacing: .07rem;
    font-weight: lighter;
    line-height: 1.3rem;
}
.mirror {
    text-align: left;
    
}
.mirror img {
    margin-top: 1.2em;
    width: 60%;
}

#section-a {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 3em;
}

hr {
    height: 1px;
    background: #0000001A;
}
.card img {
    width: 10%;
}

.expect {
    background: #FFFFFF;
    box-shadow: 0px 10px 35px #00000014;
    padding: 1em 0;
    margin-bottom: 1em;
}
.expect:last-child{
    margin-bottom: 3em;
}

.light-gray{
    background: #F5F8FA;
    padding: 1em 0;
    margin: 2em 0;
}

.text-medium-bold-light {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1.6px;
    color: #97A3B4;
}

.text-medium-bold-dark {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.14px;
    color: #333333;
}

.text-small-bold {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.34px;
    color: #333333;
}
.text-small {
font-size: .8rem;
letter-spacing: 0;
}

.text-gray {
    color: #676F79;
}

.blueBg {
    height: 22.8rem;
    background: transparent linear-gradient(322deg, #4A86FF 0%, #1EC3FF 100%) 0% 0% no-repeat padding-box;
}

#section-d {
    color: #ffffff;
}
#section-d {
    background: #001538;
}

footer {
    font-size:.8rem;
}
.footerHead {
    display: flex;
}

.footerNav img {
    width: 15%;
}

.footerNav ul li {
    padding: .5em;
}
footer p:first-child {
    display: flex;
    justify-content: space-between;
}

.footerHead p {
    font-size: 1rem;
}

@media (min-width: 360px) {
    .hero{
        background-position-x: -18vmin;
        background-position-y: -38vmin;
    }
}